:root {
	--primary-white-color: #ffffff;
	--primary-bg-color: #2f303a;
	--secondary-bg-color: #f5f4fa;
	--primary-black-color: #000000;
	--primary-text-color: #757575;
	--secondary-text-color: #212121;
	--primary-accent-color: #2196f3;
	--footer-contacts-color: rgba(255, 255, 255, 0.6);
	--header-border-color: #ececec;
	--project-border-color: #eeeeee;
	--button-order-active: #188ce8;
	--button-shadow-color: rgba(0, 0, 0, 0.15);
	--teamcard-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	--primary-gap-size: 30px;
}
body {
	margin: 0;

	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
}
/* styles none */
.list {
	list-style: none;
}
.link {
	text-decoration: none;
	font-style: normal;
}
h1,
h2,
h3,
p {
	margin: 0 auto;
}
ul {
	padding-left: 0;
	margin: 0 auto;
}
img {
	display: block;
	max-width: 100%;
}
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section.no-padding {
	padding-bottom: 0;
}
/* title */
.section-title {
	margin-bottom: 50px;
	text-align: center;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	color: var(--secondary-text-color);
}
/* header */
.page-header {
	margin-bottom: 0;
	border-bottom: 1px solid var(--header-border-color);
}
.main-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
/* logo */
.logo {
	margin-right: 93px;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--primary-accent-color);
	text-decoration: none;
}
.logo.text {
	color: var(--primary-black-color);
}
/* Navigation */
.site-nav {
	display: flex;
}
.site-nav .item + .item {
	margin-left: 50px;
}
.site-nav .link {
	display: inline-block;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--primary-accent-color);
}
.link.current {
	color: var(--primary-accent-color);
}
/* Contacts list */
.contact {
	display: flex;
	margin-right: 0;
	margin-left: auto;
}
.contact .link {
	display: inline-block;
	padding-top: 32px;
	padding-bottom: 32px;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}
.contact .link:hover,
.contact .link:focus {
	color: var(--primary-accent-color);
}
.contact .item + .item {
	margin-left: 50px;
}
/* Hero */
.hero {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;

	background-color: var(--primary-bg-color);
}
.hero-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);

	text-transform: uppercase;
}
/* Order button */
.order-button {
	padding: 10px 32px;
	min-width: 216px;

	font-family: "Roboto";
	font-style: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	background-color: var(--primary-accent-color);
	color: var(--primary-white-color);
	box-shadow: 0px 4px 4px var(--button-shadow-color);
	border-radius: 4px;

	cursor: pointer;
	border: none;
}
.order-button:hover,
.order-button:focus,
.order-button:active {
	background-color: var(--button-order-active);
	border: none;
}
/* Features */
.features.section-title {
	display: none;
	margin-bottom: 0;
}
.features-title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	color: var(--secondary-text-color);

	text-transform: uppercase;
}
.feature-list {
	display: flex;
	margin-left: calc(-1 * var(--primary-gap-size));
	}
.feature-list > .item {
	flex-basis: calc(100% / 4 - var(--primary-gap-size));
	margin-left: var(--primary-gap-size);
	}
/* Work */
.work-list {
	display: flex;
	margin-left: calc(-1 * var(--primary-gap-size));
	}
.work-list > .item {
	flex-basis: calc(100% / 3 - var(--primary-gap-size));
	margin-left: var(--primary-gap-size);
	}
/* Team */
.team {
	background-color: var(--secondary-bg-color);
}
.team-list {
	display: flex;
	margin-left: calc(-1 * var(--primary-gap-size));
	}
.team-card {
	flex-basis: calc(100% / 4 - var(--primary-gap-size));
	margin-left: var(--primary-gap-size);
	
	font-size: 16px;
	line-height: 1.19;
	background-color: var(--primary-white-color);

	text-align: center;
	border-radius: 0px 0px 4px 4px;
	box-shadow: var(--teamcard-box-shadow);
}
.team-card .text {
	padding-top: 30px;
	padding-bottom: 30px;
}
.teammate {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	color: var(--secondary-text-color);
}
/* Footer */
.page-footer {
	padding-bottom: 60px;
	padding-top: 60px;

	background-color: var(--primary-bg-color);
}
/* logo */
.logo.studio {
	color: var(--primary-white-color);
}
.page-footer .link {
	color: var(--footer-contacts-color);
}
.link.map {
	color: var(--primary-white-color);
}
.page-footer .link:hover,
.page-footer .link:focus {
	color: var(--primary-accent-color);
}
.address-list {
	margin-top: 20px;
}
.address-list .item + .item {
	margin-top: 9px;
}
/* portfolio */
.portfolio-title {
	display: none;
}
.portfolio-button {
	padding: 6px 22px;
	min-width: 73px;

	font-family: "Roboto";
	font-style: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	background-color: var(--secondary-bg-color);

	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	border: none;
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
	color: var(--primary-white-color);
	background-color: var(--primary-accent-color);
}
/* Filter */
.filter-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter-list .item + .item {
	margin-left: 8px;
}
/* Projects */
.portfolio-work {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);
}
.sample {
	font-size: 16px;
	line-height: 1.87;
}
.project {
	display: flex;
	flex-wrap: wrap;
	margin-left: calc(-1 * var(--primary-gap-size));
	margin-top: calc(-1 * var(--primary-gap-size));
}
.projects-item {
	flex-basis: calc(100% / 3 - var(--primary-gap-size));
	margin-left: var(--primary-gap-size);
	margin-top: var(--primary-gap-size);
}
.projects-item .content {
	padding: 20px 24px;
	border-right: 1px solid var(--project-border-color);
	border-bottom: 1px solid var(--project-border-color);
	border-left: 1px solid var(--project-border-color);
}
